<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
        </button>
    </div>
    <div class="h1 title login-title" >我的</div>
</ion-header-bar>
<ion-view >
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button" ng-click="doSomething()">-->
            <!--设置-->
        <!--</button>-->
    <!--</ion-nav-buttons>-->
    <ion-content>
        <div style="margin-top: 10px">
            <div style="background-color:#dddddd; width: 100%;margin: 0;overflow: hidden">
                <img src="img/test.jpg"
                     style="float: left;width: 30%;height: 100px;float: left;padding-left: 20px;padding-top: 20px">
                <p style="padding-left:150px;padding-top: 20px">4567487649</p>
                <p style="padding-right: 10px;padding-top: 50px;float: right">设置</p>
            </div>
            <div style="background-color:#dddddd; width: 100%;margin-top: 20px;overflow: hidden">

                    <img src="img/test.jpg"
                         style="float: left;width: 20%;height: 80px;float: left;padding-left: 20px;padding-top: 20px">
                    <p style="padding-top: 30px;padding-left: 100px">我的订单</p>
                    <p style="padding-right: 10px;float: right;">全部订单</p>
                    <hr style="margin-top: 40px">

                <div style="float: left;padding-left: 20px;border-right: dashed;width: 33%;padding-right: 20px">
                    <img src="img/test.jpg" style="width: 100%;height: 80px;">
                    <p style="text-align: center">待付款</p>
                </div>
                <div style="float: left;padding-left: 20px;border-right: dashed;width: 33%;padding-right: 20px">
                    <img src="img/test.jpg" style="width: 100%;height: 80px;">
                    <p style="text-align: center">待收货</p>
                </div>
                <div style="float: left;padding-left: 20px;width: 33%;padding-right: 20px">
                    <img src="img/test.jpg" style="width: 100%;height: 80px;">
                    <p style="text-align: center">待评价</p>
                </div>

            </div>
            <div style="background-color:#dddddd; width: 100%;margin-top: 20px;overflow: hidden">
                <img src="img/test.jpg"
                     style="float: left;width: 20%;height: 80px;float: left;padding-left: 20px;padding-top: 20px">
                <p style="padding-top: 30px;padding-left: 100px">我的钱包</p>
                <p style="padding-right: 10px;float: right;">资金管理</p>
                <hr style="margin-top: 40px">
                <p style="text-align: center">0.00</p>
                <p style="text-align: center">余额</p>
            </div>

        </div>

    </ion-content>
</ion-view>